body {
    background-color: #050210;
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.circle {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #050210;

    position: relative;
}

.circle::before,
.circle::after {
    z-index: -1;
    content:'';
    background: linear-gradient(#fb5dad, #55fb9f, #b97aff);
    position: absolute;
    border-radius: inherit;
    inset: -15px;
    animation: rotation 1s linear infinite;

}
.circle::after {
    filter: blur(30px);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
     transform: rotate(360deg);
    }
}